.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width:50em;
    flex: 1;
}

.site-footer
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 50em;
    padding-bottom: 1em;
    text-align: center;
}

body {
    color: #555;
    font-family: "Helvetica", "Arial", sans-serif;
}

h1,
h2,
strong {
  color: #333;
}

a {
    text-decoration: none;
    color: #4078c0;
}
a:visited {
    color: #4078c0;
}

a:hover {
    text-decoration: underline;
}
