language: python
python:
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install coveralls

# command to run tests
script:
  - python setup.py test

after_script:
  - coverage run -m unittest discover
  - coveralls