<!doctype html>
<head>
    <title>{% block title %}Tripoli{% endblock %}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="site">
<div class="site-content">
    <h1>Validate with Tripoli.</h1>
    <form class="pure-form" action="/" method="get">
        <fieldset>
            <button type="submit" class="pure-button pure-button-primary" style="float: right">Validate</button>
            <div style="overflow: hidden; padding-right: .5em;">
                <input type="text" placeholder="Manifest URL" name="manifest" style="width: 100%;" />
            </div>​
        </fieldset>
    </form>
    {% if manifest_url %}
        <p>Results for: <a href={{ manifest_url }}>{{ manifest_url }}</a></p>
    {% endif %}

    {% if is_valid == True %}
        <strong style="color:darkolivegreen">Manifest passed validation.</strong>
    {% elif is_valid == False %}
        <strong style="color:red">Manifest failed validation.</strong>
    {% endif %}

    <ul class="output">
        {% for error in errors %}
            <li style="color:orangered">{{ error }}</li>
        {% endfor %}
        {% for warn in warnings %}
            <li style="color:orange">{{ warn }}</li>
        {% endfor %}
    </ul>

</div>
</body>
<footer class="site-footer">
    <hr color="#ccc">
    <a href="https://github.com/DDMAL/tripoli">GitHub Project</a> -
    <a href="http://tripoli.readthedocs.io/en/latest/">Documentation</a>
</footer>
